@model Agenda2868022.Models.FichaDetailsView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ficha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FichaId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Adicionar Instructor", "AddInstructor", new { fichaId = Model.FichaId }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>

<h3>Instructores</h3>
@if(Model.FichaInstructors.Count == 0)
{
    <h3>Aun no hay instructores registrados en la ficha</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.FichaInstructors[0].Instructor.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.FichaInstructors[0].Instructor.FullName)
            </th>
        </tr>
        @for(int i=0;i <Model.FichaInstructors.Count;i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.FichaInstructors[i].Instructor.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FichaInstructors[i].Instructor.FullName)
                </td>
                <td>
                    @Html.ActionLink("Delete","DeleteInstructor",
                    new {id= Model.FichaInstructors[i].FichaInstructorId },
                    new {@class="btn btn-danger",onclick="return confirm('Esta seguro de eliminar el registro?')"})
                </td>
            </tr>
        }

    </table>
    
}
